@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/dropzone.css" rel="stylesheet" />

<div style="width:40%;float:left;  margin-top:25px; margin-bottom:25px;">

    @using (Html.BeginForm("upload", "FileUpload", FormMethod.Post, new
    {
        enctype = "multipart/form-data",
        id = "dropArea",
        @class = "dropzone"
    }))
    {
        <div class="fallback">
            <input name="file" type="file" multiple />
            <input type="submit" value="Upload" />
        </div>
    }
</div>
<div style="width:45%;float:right; min-height: 150px; margin-top:25px; background-color:gray; margin-bottom:25px;">
    <ul id="FileList">
    </ul>
</div>
<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>

<script src="~/Scripts/dropzone.js"></script>
<script type="text/javascript">
    Dropzone.options.dropArea = {
        paramName: "file",
        init: function () {
            this.on("complete", function (data) {
                var res = JSON.parse(data.xhr.responseText);
                console.log(res);
                getFileNames();
            });
        }
    };
    $(function () {
        getFileNames();      
    });

    function getFileNames() {
        $.ajax({
            dataType: "json",
            url: '@Url.Action("GetExistingFiles", "FileUpload")',
            success: function (result) {
                $("#FileList").empty();
                $.each(result, function (index, fileName) {
                    $("#FileList").append('<li class="fileList">' + fileName + '<button style="margin-left:15px;" class="btn-primary deleteBtn" value="' + fileName + '">Delete</button></li>');
                });
                $(".deleteBtn").click(function (e) {
                    deleteFile(e.currentTarget.value);
                });
            },
            error: function (e) {
                console.log(e);
            }
        });
    }
    function deleteFile(file) {
        $.ajax({
            method: "POST",
            data: { 'filename': file },
            url: '@Url.Action("DeleteFile", "FileUpload")',
            success: function (result) {
                alert("deleted the file!");
                getFileNames();
            },
            error: function (e) {
                console.log(e);
            }
        });
    }

</script>